$color-text-white: #fff;

$color-gradient-start: #17d396;
$color-gradient-end: #07f7f7;

$color-black: #000;

$color-primary: #00d7bb;
$color-dark: #22252c;

$color-resume-btn-shadow: #16d59cb3;

$navbar-height: 8rem;
